body{
	padding: 0 auto;
	margin: 0 auto;
	display: block;
}
h1 {
	width: 150px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
}
canvas {
	background: #eee;
	margin: 0 auto;
	display: block;
}

div{
	padding: 10px;
	width: 480px;
	height: 320px;
}
#directions{
	width: 640px;
	height: 420px;
	margin: 0 auto;
	text-align: center;
	border-style: dotted;
}

p{
	padding: 10px;
}
#mouse{
	width: 30px;
	height: 30px;
	margin: 0 auto;
	padding: 10px;
}

#arrowKeys{
	margin: 0 auto;
}
a {
	text-decoration: none;
	padding: 10px 20px;
}

button{
	text-align: center;
	font-size: 16px;
	margin: 10px auto;
}

button:hover{
	cursor: pointer;
}

#gameOver{
	display: none;
	margin: 0 auto;
	width: 640px;
	height: 420px;
	text-align: center;
}

#loseScreen{
	width: 640px;
	height: 420px;
}

#youWin{
	display: none;
	margin: 0 auto;
	width: 640px;
	height: 420px;
}

#winScreen{
	width: 640px;
	height: 420px;
}

